:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(29,27,70);
background: linear-gradient(90deg, rgba(29,27,70,1) 0%, rgba(65,134,201,1) 100%);

}
